.landing{
    background-color: rgba(28, 70, 112, 1);
    color: rgba(255, 255, 255, 1);
}
.trusted-by-title{
    font-size: clamp(18px , 2vw, 22px);
    font-weight: 700;
}

.trusted-by-title{
    
    text-align: center;
}
@media (max-width : 576px) {
    .trusted-by-title{
    
        text-align: left;
    }
    .video-intro-section{
        padding: 0px !important;
    }
    .description{
        text-align: left;
    }
        .six{
        height: 230px !important;
    }
    .Intelegencia{
padding-right: 0px !important;
    } }